section#layout
  .container 
    h2 Контейнеры
  .container.ui-block
    p Не вызывает сомнений, что постоянный количественный рост и сфера нашей активности требует анализа новых принципов формирования материально-технической и кадровой базы. Прежде всего рамки и место обучения кадров обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Для современного мира управление и развитие структуры способствует подготовке и реализации системы массового участия.
  .container.container--md.ui-block
    p Не вызывает сомнений, что постоянный количественный рост и сфера нашей активности требует анализа новых принципов формирования материально-технической и кадровой базы. Прежде всего рамки и место обучения кадров обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Для современного мира управление и развитие структуры способствует подготовке и реализации системы массового участия.
  .container.container--sm.ui-block
    p Не вызывает сомнений, что постоянный количественный рост и сфера нашей активности требует анализа новых принципов формирования материально-технической и кадровой базы. Прежде всего рамки и место обучения кадров обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Для современного мира управление и развитие структуры способствует подготовке и реализации системы массового участия.
  .container.container--xs.ui-block.mb-80
    p Не вызывает сомнений, что постоянный количественный рост и сфера нашей активности требует анализа новых принципов формирования материально-технической и кадровой базы. Прежде всего рамки и место обучения кадров обеспечивает актуальность системы обучения кадров, соответствующей насущным потребностям. Для современного мира управление и развитие структуры способствует подготовке и реализации системы массового участия.
  
  .container
    h2 Сетка дашборда
  .container.account.mb-80
    .account__aside.ui-block .account__aside
    .account__main .account__main
      .ui-block
      .ui-block
      .ui-block

  .container
    h2 Акцентированная секция
  .section-accent.mb-80 
    .container
      .ui-block


  .container.mb-80
    h2 Отступы 
    .ui-block.mb-128 .mb-128
    .ui-block.mb-96 .mb-96
    .ui-block.mb-88 .mb-88
    .ui-block.mb-80 .mb-80
    .ui-block

  .container
    h2 Сетки карточек
    .card-list.mb-80 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block
    .card-list.card-list-sm.mb-80
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block
      .ui-block
      .ui-block
    .card-list-account.mb-80
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block 
      .ui-block
      .ui-block
      .ui-block
      .ui-block
      .ui-block
  