section#typography
  .container.container--sm
    h2 Заголовки и абзац
    .h1 Заголовок 1
    .h2 Заголовок 2 
    .h3 Заголовок 3
    .h4 Заголовок 4
    p Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение поставленных обществом и правительством задач. Разнообразный и богатый опыт рамки и место обучения кадров влечёт за собой интересный процесс внедрения модернизации модели развития.
    p Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение поставленных обществом и правительством задач. Разнообразный и богатый опыт рамки и место обучения кадров влечёт за собой интересный процесс внедрения модернизации модели развития.

    h2 Варианты шрифтов
    h3 Roboto
    p Regular (400). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-weight: 500") Medium (500). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-weight: 600") SemiBold (600). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-weight: 700") Bold (700). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.

    h3 VelaSans
    p(style="font-family: VelaSans;") Regular (400). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-family: VelaSans; font-weight: 500") Medium (500). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-family: VelaSans; font-weight: 600") SemiBold (600). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-family: VelaSans; font-weight: 700") Bold (700). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.
    p(style="font-family: VelaSans; font-weight: 800") ExtraBold (800). Повседневная практика показывает, что новая модель организационной деятельности требует определения и уточнения направлений прогрессивного развития.

    h2 Прочее
    p
      i Курсив
    p 
      strong Жирный текст
    p 
      del Зачёркнутый текст
    p
      ins Подчёркнутый текст
    p Текст с <mark>выделенным</mark> фрагментом
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.
    blockquote <b>Цитата</b>. Для современного мира консультация с широким активом требует от нас анализа соответствующих условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом требует определения и уточнения направлений прогрессивного развития. Следует отметить, что постоянное информационно-пропогандистское обеспечение нашей деятельности создаёт предпосылки качественно новых шагов для направлений прогрессивного развития.
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.

    h2 Списки
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.
    ul 
      li Маркированный список
      li Маркированный список
      li Маркированный список
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.
      ul.list-dash 
        li Маркированный список (list-dash)
        li Маркированный список (list-dash)
        li Маркированный список  (list-dash)
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.
    ol 
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
      li Нумерованный список
    p Параграф для кучи. Следует отметить, что социально-экономическое развитие напрямую зависит от экономической целесообразности принимаемых изменений.
