.slider {
  position: relative;
  
  &__pagination {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $cl-white;
    cursor: pointer;
    transition: 0.3s $bezier background-color, 0.3s $bezier transform;

    &:hover:not(.slider__bullet--active) {
      transform: scale(1.5);
    }

    &--active {
      background-color: $cl-primary;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 2px solid $cl-white;
    border-radius: 50%;
    background-color: $cl-primary;
    color: $cl-white;
    opacity: 0%;
    transition: 0.3s background-color $bezier, 0.3s opacity $bezier, 0.3s transform $bezier, 0.3s color $bezier;
    transform: translate(0, -50%);

    @media (max-width: $md) {
      display: none;
    }

    &:disabled {
      opacity: 0%;
    }

    &:active svg {
      opacity: 70%;
    }

    &[data-role = "prev"] {
      left: -27px;

      &:disabled {
        transform: translate(-50%, -50%);
      }
    }

    &[data-role = "next"] {
      right: -27px;

      &:disabled {
        transform: translate(50%, -50%);
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &:hover &__btn:not(:disabled) {
    opacity: 100%;
  }
}