$a-link-color: $a-link-color;

a {
  color: $a-link-color;
  font-size: inherit;
  text-decoration: none;
  transition: color $bezier $tr-btn;

  @include hover {
    color: lighten($a-link-color, 10%);
  }

  &:active {
    opacity: $click-opacity;
  }
}
