.container {
  width: 100%;
  max-width: calc($container-width + $container-padding * 2);
  margin: 0 auto;
  padding-right: $container-padding;
  padding-left: $container-padding;

  @media (max-width: $xl) {
    padding-right: $container-padding-sm;
    padding-left: $container-padding-sm;
  }
}