.scroll-wrapper {
  max-width: 100%;
  overflow-x: auto;

  @media (max-width: $sm) {
    max-width: calc(100% + $container-padding-sm * 2);
    padding-left: $container-padding-sm;
    padding-right: $container-padding-sm;
    margin-left: - $container-padding-sm;
    margin-right: - $container-padding-sm;
  }
}