$c-background: rgba($cl-black, 80%);
$c-transition: $bezier 0.5s opacity;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: $c-background;
  opacity: 0%;
  cursor: pointer;
  pointer-events: none;
  transition: $c-transition;

  body._modal-show & {
    opacity: 100%;
    pointer-events: all;
  }
}