.spoiler {
  &__full {
    display: none;
  }

  &__btn {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    color: $cl-blue;
    font-size: 14px;
    line-height: 24px;

    &:hover:not(:disabled) {
      background-color: transparent;
      color: lighten($cl-blue, 10%);
    }

    &--hide {
      display: none;
    }
  }

  &._show &__btn--hide {
    display: inline-block;
  }

  &._show &__full {
    display: block;
  }

  &._show &__short {
    display: none;
  }
}
