mixin pagination
  .pagination
    a.pagination__link.pagination__link--prev(href="#")
      +icon("chevron-left", 16, 16)
      span.pagination__link-text Назад
  
    ul.reset-list.pagination__list
      li.pagination__item
        span.pagination__link.pagination__link--active 1
      li.pagination__item
        a.pagination__link(href="#") 2
      li.pagination__item
        a.pagination__link(href="#") 3
      li.pagination__item
        a.pagination__link(href="#") 4
      li.pagination__item
        a.pagination__link(href="#") 5
      li.pagination__item
        span.pagination__link ...
      li.pagination__item
        a.pagination__link(href="#") 163

    a.pagination__link.pagination__link--next(href="#")
      span.pagination__link-text Вперед
      +icon("chevron-right", 16, 16)
