.btn-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: $cl-black;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;

  @include hover {
    &:not(:disabled) {
      background-color: transparent;
      color: $cl-blue;
    }
  }

  svg {
    max-width: 3rem;
    max-height: 3rem;

    @media (max-width: $sm) {
      max-width: 20px;
      max-height: 20px;
      font-size: 14px;
    }
  }
}