.btn-secondary {
  background-color: $cl-primary-light;
  color: $cl-gray-dark;

  @include hover {
    :not(:disabled) {
      background-color: #e6eaeb;
      color: $cl-gray-dark;
    }
  }

  &:disabled {
    background-color: #e6eaeb;
    color: rgba($cl-gray-dark, 50%);
  }
}