.date-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px 15px 12px;
  border: 1px solid $cl-stroke;
  border-radius: 8px;
  background-color: $cl-white;
  transition: $bezier border-color 0.3s;

  &:hover {
    border-color: $cl-blue;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: $cl-gray-middle;
  }

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__output {
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
  }

  &--single {
    height: 56px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &--single &__output {
    font-size: 16px;
    line-height: 24px;
  }
}