.image-field {
  position: relative;
  width: 120px;
  height: 120px;

  @media (max-width: $sm) {
    width: 100px;
    height: 100px;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0%;
    cursor: pointer;
  }

  &__preview {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $cl-primary;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $cl-blue-dark;
    color: $cl-white;
    transition: $bezier 0.3s background-color;
  }

  &__input:hover ~ &__btn {
    background-color: $cl-blue;
  }

  &__input:active ~ &__btn {
    opacity: 70%;
  }
}