.search {
  position: relative;

  &__icon {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: $cl-placeholder;
    
    svg {
      display: block;
    }

    @media (max-width: $sm) {
      top: 12px;
    }
  }

  &__input {
    width: 100%;
    padding: 11px 55px 11px 39px;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: $cl-primary-light;
    outline: 0;
    font-size: 2rem;
    line-height: 3rem;
    transition: $bezier 0.3s background-color, $bezier 0.3s border-color;

    @media (max-width: $sm) {
      padding: 7px 15px 7px 39px;
      font-size: 14px;
    }

    &::placeholder {
      color: $cl-placeholder;
    }

    &:hover {
      background-color: darken($cl-primary-light, 5%);
    }

    &:focus {
      border-color: $cl-blue-dark;
      background-color: $cl-white;
    }
  }

  &__reset {
    position: absolute;
    top: 12px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0;
    background: none;
    color: transparent;
    pointer-events: none;
    transition: color $bezier 0.3s;

    @media (max-width: $sm) {
      top: 8px;
    }

    &:hover:not(:disabled) {
      background: none;
      color: $cl-blue-dark;
    }
  }

  &._has-value &__reset {
    color: $cl-gray-dark;
    pointer-events: all;
  }

  &--sm &__input {
    padding: 7px 15px 7px 39px;
    border-radius: 8px;
    font-size: 14px;
  }

  &--sm &__icon {
    top: 12px;
  }
}