table:not(.reset-table) {
  overflow: auto;
  width: 100%;
  margin-bottom: 5rem;
  border-collapse: collapse;
  border-top: 1px solid $cl-border;
  font-size: 16px;
  line-height: 3rem;

  tr {
    border-bottom: 1px solid $cl-border;
  }
  
  td,
  th {
    padding: 15px 3rem;
    text-align: left;
  }

  th {
    background-color: $cl-primary;
    color: $cl-white;
    font-weight: 700;
  }
}