include vars
include mixins
include ../blocks/_blocks

block vars
  -var pageName = "UI Kit"

block style
  link(rel="stylesheet", href="assets/css/ui.min.css")

doctype html
html(lang="ru")
  include head
  body
    .page
      main.page__main
        block body 

    script(src="assets/js/main.min.js") 
    script(src="assets/js/main.ui.js") 